@model IEnumerable<Education.Entityes.EF.Lector>
@{
    ViewData["Title"] = "Index";
}

<h1>Преподаватели</h1>

<a asp-controller="Lectors" asp-action="EditLector" class="btn btn-outline-primary">Добавить преподавателя</a>
<div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>№</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ int n = 1;}
            @foreach (var lector in Model.OrderBy(l => l.Surname).ThenBy(l => l.Name).ThenBy(l => l.Patronymic))
            {
                <tr>
                    <td>@(n++)</td>
                    <td>@lector.Surname</td>
                    <td>@lector.Name</td>
                    <td>@lector.Patronymic</td>
                    <td><a asp-controller="Lectors" asp-action="EditLector" asp-route-Id="@lector.Id">Редактировать</a></td>
                    <td><a asp-controller="Lectors" asp-action="RemoveLector" asp-route-Id="@lector.Id" class="text-danger">Удалить</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr />
<div>
    <a asp-controller="Home" asp-action="Index">Назад на главную</a>
</div>